In [20]:
import numpy as np
import pandas as pd

In [21]:
names = [i for i in range(1,13)]
names

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [22]:
nf = pd.read_csv('negative.csv', delimiter=';', names=names)
nf

,1,2,3,4,5,6,7,8,9,10,11,12
0,408906762813579264,1386325944,dugarchikbellko,на работе был полный пиддес :| и так каждое за...,-1,0,0,0,8064,111,94,2
1,408906818262687744,1386325957,nugemycejela,"Коллеги сидят рубятся в Urban terror, а я из-з...",-1,0,0,0,26,42,39,0
2,408906858515398656,1386325966,4post21,@elina_4post как говорят обещаного три года жд...,-1,0,0,0,718,49,249,0
3,408906914437685248,1386325980,Poliwake,"Желаю хорошего полёта и удачной посадки,я буду...",-1,0,0,0,10628,207,200,0
4,408906914723295232,1386325980,capyvixowe,"Обновил за каким-то лешим surf, теперь не рабо...",-1,0,0,0,35,17,34,0
...,...,...,...,...,...,...,...,...,...,...,...,...
111918,425138243257253888,1390195830,Yanch_96,Но не каждый хочет что то исправлять:( http://...,-1,0,0,0,1138,32,46,0
111919,425138339503943682,1390195853,tkit_on,скучаю так :-( только @taaannyaaa вправляет мо...,-1,0,0,0,4822,38,32,0
111920,425138437684215808,1390195876,ckooker1,"Вот и в школу, в говно это идти уже надо(",-1,0,0,1,165,13,16,0
111921,425138490452344832,1390195889,LisaBeroud,"RT @_Them__: @LisaBeroud Тауриэль, не грусти :...",-1,0,1,0,2516,187,265,0
111922,425138595251625984,1390195914,sukapavlov,Такси везет меня на работу. Раздумываю приплат...,-1,0,0,0,7778,146,66,5

In [23]:
pf = pd.read_csv('positive.csv', delimiter=';',  names=names)
pf

,1,2,3,4,5,6,7,8,9,10,11,12
0,408906692374446080,1386325927,pleease_shut_up,"@first_timee хоть я и школота, но поверь, у на...",1,0,0,0,7569,62,61,0
1,408906692693221377,1386325927,alinakirpicheva,"Да, все-таки он немного похож на него. Но мой ...",1,0,0,0,11825,59,31,2
2,408906695083954177,1386325927,EvgeshaRe,RT @KatiaCheh: Ну ты идиотка) я испугалась за ...,1,0,1,0,1273,26,27,0
3,408906695356973056,1386325927,ikonnikova_21,"RT @digger2912: ""Кто то в углу сидит и погибае...",1,0,1,0,1549,19,17,0
4,408906761416867842,1386325943,JumpyAlex,@irina_dyshkant Вот что значит страшилка :D\nН...,1,0,0,0,597,16,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...
114906,411368729235054592,1386912922,diminlisenok,"Спала в родительском доме, на своей кровати......",1,0,0,0,1497,56,34,2
114907,411368729424187392,1386912922,qilepocagotu,RT @jebesilofyt: Эх... Мы немного решили сокра...,1,0,1,0,692,225,210,0
114908,411368796537257984,1386912938,DennyChooo,"Что происходит со мной, когда в эфире #proacti...",1,0,0,0,4905,448,193,13
114909,411368797447417856,1386912938,bedowabymir,"""Любимая,я подарю тебе эту звезду..."" Имя како...",1,0,0,0,989,254,251,0
114910,411368857035898880,1386912953,Prituljak_Sibir,@Ma_che_rie посмотри #непытайтесьпокинутьомск ...,1,0,0,0,1005,221,178,6

In [24]:
df = pd.concat([nf, pf], sort = False, axis = 0)
df

,1,2,3,4,5,6,7,8,9,10,11,12
0,408906762813579264,1386325944,dugarchikbellko,на работе был полный пиддес :| и так каждое за...,-1,0,0,0,8064,111,94,2
1,408906818262687744,1386325957,nugemycejela,"Коллеги сидят рубятся в Urban terror, а я из-з...",-1,0,0,0,26,42,39,0
2,408906858515398656,1386325966,4post21,@elina_4post как говорят обещаного три года жд...,-1,0,0,0,718,49,249,0
3,408906914437685248,1386325980,Poliwake,"Желаю хорошего полёта и удачной посадки,я буду...",-1,0,0,0,10628,207,200,0
4,408906914723295232,1386325980,capyvixowe,"Обновил за каким-то лешим surf, теперь не рабо...",-1,0,0,0,35,17,34,0
...,...,...,...,...,...,...,...,...,...,...,...,...
114906,411368729235054592,1386912922,diminlisenok,"Спала в родительском доме, на своей кровати......",1,0,0,0,1497,56,34,2
114907,411368729424187392,1386912922,qilepocagotu,RT @jebesilofyt: Эх... Мы немного решили сокра...,1,0,1,0,692,225,210,0
114908,411368796537257984,1386912938,DennyChooo,"Что происходит со мной, когда в эфире #proacti...",1,0,0,0,4905,448,193,13
114909,411368797447417856,1386912938,bedowabymir,"""Любимая,я подарю тебе эту звезду..."" Имя како...",1,0,0,0,989,254,251,0
114910,411368857035898880,1386912953,Prituljak_Sibir,@Ma_che_rie посмотри #непытайтесьпокинутьомск ...,1,0,0,0,1005,221,178,6

In [25]:
search = '@[\w]*'
df[4].str.findall(search)

0                     []
1                     []
2         [@elina_4post]
3                     []
4                     []
               ...
114906                []
114907    [@jebesilofyt]
114908               [@]
114909                []
114910     [@Ma_che_rie]
Name: 4, Length: 226834, dtype: object

In [26]:
df[4] = df[4].str.replace(search, ' ')

In [27]:
df[4] = df[4].str.lower()

In [28]:
def jf(x):
    return " ".join([w for w in x.split() if len(w)>1])

In [29]:
df[4] = df[4].apply(jf)

In [31]:
search = r'[^а-яА-ЯёЁa-zA-Z]'
df[4] = df[4].str.replace(search, ' ')

In [41]:
df[4][:5]

0    на работе был полный пиддес    так каждое закр...
1    коллеги сидят рубятся urban terror  из за долб...
2             как говорят обещаного три года ждут
3    желаю хорошего полёта удачной посадки я буду о...
4    обновил за каким то лешим surf  теперь не рабо...
Name: 4, dtype: object

In [33]:
import nltk

In [34]:
from nltk.tokenize import word_tokenize, wordpunct_tokenize
from nltk import tokenize as tknz

In [35]:
df.insert(5, "4_token", None)

In [36]:
def twt(x):
    x.split()
    x.split('.')
    return tknz.word_tokenize(x)

In [37]:
df['4_token'] = df[4].apply(twt)

In [38]:
import pickle

In [39]:
file_result= open('dfhw4.dat','ab')
pickle.dump(df,file_result)
file_result.close()

In [42]:
df = pd.read_pickle('dfhw4.dat')

In [43]:
df['4_token'][:5]

0    [на, работе, был, полный, пиддес, так, каждое,...
1    [коллеги, сидят, рубятся, urban, terror, из, з...
2           [как, говорят, обещаного, три, года, ждут]
3    [желаю, хорошего, полёта, удачной, посадки, я,...
4    [обновил, за, каким, то, лешим, surf, теперь, ...
Name: 4_token, dtype: object

In [44]:
import string
from pymorphy2 import MorphAnalyzer
from stop_words import get_stop_words
import annoy
from gensim.models import Word2Vec, FastText
import pickle
import numpy as np
from tqdm import tqdm_notebook

In [45]:
assert True

#Small preprocess of the answers

question = None
written = False

fin = df['4_token'].map(' '.join)

for line in tqdm_notebook(fin):
        if line.startswith("---"):
            written = False
            continue
        if not written and question is not None:
#             fout.write(question.replace("\t", " ").strip() + "\t" + line.replace("\t", " "))
            written = True
            question = None
            continue
        if not written:
            question = line.strip()
            continue

<ipython-input-45-1f82d37ad2d6>:10: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for line in tqdm_notebook(fin):

  0%|          | 0/226834 [00:00<?, ?it/s]

In [46]:
def preprocess_txt(line):
    spls = "".join(i for i in line.strip() if i not in exclude).split()
    spls = [morpher.parse(i.lower())[0].normal_form for i in spls]
    spls = [i for i in spls if i not in sw and i != ""]
    return spls

In [47]:
assert True

# Preprocess for models fitting

sentences = []

morpher = MorphAnalyzer()
sw = set(get_stop_words("ru"))
exclude = set(string.punctuation)
c = 0

fin = df['4_token'].map(' '.join)

for line in tqdm_notebook(fin):
    spls = preprocess_txt(line)
    sentences.append(spls)
    c += 1
    if c > 100000:
        break

<ipython-input-47-f5af15ec752d>:14: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for line in tqdm_notebook(fin):

  0%|          | 0/226834 [00:00<?, ?it/s]

In [48]:
sentences = [i for i in sentences if len(i) > 2]

In [49]:
file_result= open('sent_4.dat','ab')
pickle.dump(sentences,file_result)
file_result.close()

In [51]:
sentences = pd.read_pickle('sent_4.dat')

In [52]:
sentences[1]

['коллега', 'сидеть', 'рубиться', 'urban', 'terror', 'долбать', 'винд']

In [34]:
# Word2Vec?

In [35]:
# modelW2V = Word2Vec(sentences=sentences, vector_size=300, window=5, min_count=1)

In [53]:
modelFT = FastText(sentences=sentences, vector_size=200, min_count=1, window=5, workers=8)

In [66]:
ft_index = annoy.AnnoyIndex(200 ,'angular')

index_map = {}
counter = 0

f = df[4]
#        _token'].map(' '.join)
n = 0

for line in tqdm_notebook(f):
    n_ft = 0
    spls = line.split("\t")
    try:
        index_map[counter] = spls[0]
        question = preprocess_txt(spls[0])

        vector_ft = np.zeros(200)
        for word in question:
            if word in modelFT.wv:
                vector_ft += modelFT.wv[word]
                n_ft += 1

        if n_ft > 0:
                vector_ft = vector_ft / n_ft

        ft_index.add_item(counter, vector_ft)
    except:
        n = n +1
    
    counter += 1
        
    if counter > 100000:
        break

print(n)
ft_index.build(10)

<ipython-input-66-c01c2b539faa>:10: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for line in tqdm_notebook(f):

  0%|          | 0/226834 [00:00<?, ?it/s]

0

True

In [67]:
def get_response(question, index, model, index_map):
    question = preprocess_txt(question)
    vector = np.zeros(200)
    norm = 0
    for word in question:
        if word in model.wv:
            vector += model.wv[word]
            norm += 1
    if norm > 0:
        vector = vector / norm
    answers = index.get_nns_by_vector(vector, 3, )
    return [index_map[i] for i in answers]

In [68]:
TEXT = "Спала в родительском доме"

In [69]:
get_response(TEXT, ft_index, modelFT, index_map)

['приехала домой  дом классный только холодно там  ',
 'норм даже не поплакать все дома  а так охота',
 'дома только на выходные  и то еле отпросился  ']